<!DOCTYPE html>
<html>

<link href="{{ url_for('static', filename='bootstrap-3.3.6-dist/bootstrap-3.3.6-dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ url_for('static', filename='bootstrap-3.3.6-dist/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ url_for('static', filename='bootstrap-3.3.6-dist/bootstrap-3.3.6-dist/css/bootstrap-theme.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ url_for('static', filename='bootstrap-3.3.6-dist/bootstrap-3.3.6-dist/css/base-admin-responsive.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ url_for('static', filename='bootstrap-3.3.6-dist/bootstrap-3.3.6-dist/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" /> 
<link href="{{ url_for('static', filename='bootstrap-3.3.6-dist/bootstrap-3.3.6-dist/css/pages/signin.css') }}" rel="stylesheet" type="text/css"> 

<h1 id="header2">Hello, world!</h1>

<button id="header" onclick="change_text ()">Click me</button>

<form name="f1">
UserID: <br>
<input name="i1" type="text"></input>
<input type="submit" value="Submit">
</form>

<br>
<button type="submit" value="Submit" onclick="show_text()">OK</button>


<br>
<p id="output"></p>
<br>

<script src="{{ url_for ('static', filename='templates/hamza.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.6-dist/bootstrap-3.3.6-dist/js/jquery-2.2.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.6-dist/bootstrap-3.3.6-dist/js/bootstrap.min.js') }}"></script>

</html>