{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
		    <li><a href="#">Dashboard</a></li>
            <li class="active"><a href="#">Clients <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Team Members</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Settings</a></li>
          </ul>

        </div>
        <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-1 main">
          <h1 class="sub-header">Clients</h2>
			<a class="btn btn-success" href="{% url 'add_client' %}" role="button">Add</a>
			<a class="btn btn-primary" href="#" role="button">Edit</a>
			<a class="btn btn-danger" href="#" role="button">Delete</a>

          <div class="table-responsive">
            <table class="table table-striped">

              <thead>

                <tr>
                  <th>ID</th>
                  <th>Client</th>
                  <th>Partner</th>
                  <th>Handler</th>
                  <th>Email</th>
                  <th>Phone</th>
				</tr>
              </thead>
              <tbody>
			  {% for client in myform %}
                <tr>
                  <td>{{ client.client_id }}</td>
                  <td>{{ client.client }}</td>
                  <td>{{ client.partner }}</td>
                  <td>{{ client.handler }}</td>
                  <td>{{ client.email }}</td>
				  <td>{{ client.phone }}</td>
                </tr>
				{% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>





{% endblock content %}
